@using TechnicalService.Dto
@using Newtonsoft.Json
@using System.Security.Claims
@{
    var user = JsonConvert.DeserializeObject<ClaimDto>(User.Claims.Where(x => x.Type == ClaimTypes.Name).Select(x => x.Value).SingleOrDefault());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechnicalService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">TS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @if (user.Type == "Customer")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Add", "Customer")">
                                Yeni Kayıt
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@(user.Type == "Customer" ? Url.Action("Index", "Customer") : Url.Action("Index", "Manager"))">@(user.Type=="Customer"?"Çağrılarım":"Açılan Çağrılar")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LogOut","Account")">Çıkış</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Redis Caching - <a href="http://evrenaktas.com">evrenaktas.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
